* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    padding: 2rem;
    border: 1px solid black;
}

#texto {
    padding: 2rem;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card .img {
    width: 2rem;
    padding: 1rem;
}

#enviarValor {
    margin: 2rem;
}

#comprar {
    margin: 20px;
    padding: 15px;
    background-color: orange;
    border-radius: 30px;
    font-size: 15px;
}

.paginas {
    display: flex;
    gap: 20px;
    margin: 20px;
}